:root {
	--header-height: 100px;
	--white: #FFFFFF;
	--black: #000000;
	--dark: #303846;
	--gray: #f7f7f7;
	--dark-gray: #d7d7d7;
	--turqouise: #30d5c8;

}

body {
	padding: var(--header-height) 0 0 0;
	margin: 0;
	font-family: sans-serif;
	font-size: 16px;
	color: var(--dark);
}

.header-fixed {
	position: fixed;
	top: 0;
	left: 0;
}

.header-style {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	height: var(--header-height);
	width: 100%;
	padding: 0 30px;
	background-color: var(--white);
}

h1 {
	font-size: 35px;
}

.logo-block {
	display: flex;
	align-items: center;
}

.logo-70 {
	height: 70px;
	padding-right: 15px;
}

a {
	text-decoration: none;
	color: var(--dark);
	font-weight: bold;
}

.w-30 {
	width: 30%;
}

.menu-element {
	list-style-type: none;
	display: inline-block;
	padding-left: 15px;
}

.moon-section {
	display: flex;
	justify-content: center;
	width: 100%;
	background-image: url(../images/banner.png);
	background-position: 0 70%;
	
}
.logo-150 {
	height: 150px;
}

.moon-section-text {
	text-align: center;
    color: var(--white);
    font-weight: bold;
}

.btn {
	border: 1px solid;
	width: 150px;
	height: 50px;
	font-weight: bold;
	font-size: 17px;
	border-radius: 10px;
}

.btn-center {
	display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.btn-white {
	background: none; 
	color: var(--white);
	border-color: var(--white);
}

.section-center {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: auto;
	padding: 70px 0;
	width: 1000px;
}

.container-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 70px 0;
	width: 1000px;
}

.background-grey {
	background-color: var(--gray);	
}

.section-text {
	width: 500px;

}
.section-pic {
	width: 30%;
	height: 30%;
	padding-top: 20px;
}

.font-30 {
	font-size: 30px;
}

.mt-0 {
	margin-top: 0;

}

.request-fieldset {
	color: var(--turqouise);
	border-color: var(--turqouise);
	width: 400px;
	font-weight: bold;
	margin-bottom: 20px;
}

.request-fieldset p {
	color: var(--black);
}

.fieldset-flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.field-style {
	
	width: 130px;
	height: 30px;
	border-radius: 8px;
	border: 1px solid var(--dark-gray);
	background-color: var(--white);
	margin-right: 50px;
}

.textarea-style {
	width: 170px;
	height: 25px;
	margin-right: 5px;
	border-radius: 8px;
	border: 1px solid var(--dark-gray);
}

.btn-green {
	background-color: var(--white);
	color: var(--turqouise);
	border-color: var(--turqouise);
}

.footer-color {
	background-color: var(--dark);
	color: var(--white);
}

.footer-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 33%;

}

.footer-menu a {
	color: var(--white);

}

.footer-menu p {
	padding-right: 100px;
}

.font-18 {
	font-size: 18px;
}

.margin-0 {
	margin: 0; 

}

.footer-block {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.logo-50 {
	height: 50px;
	padding-right: 20px;
}