body {
	padding: 100px 0 0 0;
	margin: 0;
}

.font-style-general {
	font-family: sans-serif;
	font-size: 16px;
	color: #303846;
}

.header-style {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #FFFFFF;
	height: 100px;
	width: 100%;
}

.logo-block {
	display: flex;
	align-items: center;
	
}

.menu-block {
	justify-content: right;
	margin-right: 30px;
}

.logo-70 {
	height: 70px;
	padding-left: 15px;
	padding-right: 15px;
}

a {
	text-decoration: none;
	color: #303846;
	font-weight: bold;
}



.menu-element {
	list-style-type: none;
	display: inline-block;
	padding-left: 15px;
}

.banner-block {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 400px;
	background-image: url(../images/banner.png);
	background-position: 0 70%;
	
}
.logo-150 {
	height: 150px;
}

.banner-text {
	text-align: center;
    color: #FFFFFF;
    font-weight: bold;
}

.banner-button {
	display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
	width: 150px;
	height: 50px;
	background: none;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 17px;
	border: 1px solid #FFFFFF;
	border-radius: 10px;
}

.banner-button a {
	color: #FFFFFF
}

#benefits {
	display: flex;
	justify-content: space-around;
	margin: auto;
	align-items: center;
	width: 1000px;
	height: 300px;

}

.benefits div {
	width: 30%;
}

#about {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	background-color: #f7f7f7;
	height: 300px;
	
}

.section-content {
	display: flex;
	justify-content: space-around;
	width: 1000px;

}

.section-text {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 500px;

}
.section-pic {
	width: 30%;
	height: 30%;
	padding-top: 20px;
}

#rest-places {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	height: 300px;
}

#request-section {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #f7f7f7;
	height: 650px;
}

#request-section h3 {
	font-size: 30px;
}



.request-fieldset {
	color: #30d5c8;
	border-color: #30d5c8;
	width: 400px;
	font-weight: bold;
	margin-bottom: 20px;
}

.request-fieldset p {
	color: #000000;
}

.flex-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.field-style {
	
	width: 130px;
	height: 30px;
	border-radius: 8px;
	border: 1px solid #d7d7d7;
	background-color: #FFFFFF;
	margin-right: 50px;
}

.textarea-style {
	width: 170px;
	height: 25px;
	margin-right: 5px;
	border-radius: 8px;
	border: 1px solid #d7d7d7;
}

.submit {
	width: 150px;
	height: 40px;
	background-color: #FFFFFF;
	color: #30d5c8;
	font-weight: bold;
	font-size: 18px;
	border: 1px solid #30d5c8;
	border-radius: 8px;
	
}

.footer-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 200px;
	background-color: #303846;
	color: #FFFFFF;
}



.footer-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 33%;

}

.footer-menu a {
	color: #FFFFFF;

}

.footer-menu p {
	padding-right: 100px;
}

.footer-menu h4 {
	margin: 0; 
	font-size: 18px;
}

.footer-first-block {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.logo-50 {
	height: 50px;
	padding-right: 20px;
}